<!DOCTYPE html>
<html lang="en" ng-app="GarajApp">
<head>
	<meta charset="UTF-8">
	<title>Garaj Açık Mı?</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
	<script src="js/ngtimeago.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="garajCtrl">
<div class="we-are-family">
	<img src="img/logo-white.png" height="73" width="150">
	<h1><i class="fa fa-bolt"></i> Garaj Açık Mı? <i class="fa fa-bolt"></i></h1>
	<div ng-if="liste.state.open == true">
		<h2 class="yes">
		<i class="fa fa-check"></i> Açık!
		<div ng-if="liste.state.headcount > 0">
			Bağlı cihaz sayısı: {{liste.state.headcount}} <i class="fa fa-user"></i>
		</div>
		</h2>
	</div>
	<div ng-if="liste.state.open == false">
		<h2 class="no">
		<i class="fa fa-times"></i> Kapalı :(
		<div ng-if="liste.state.headcount > 0">
			Bağlı cihaz sayısı: {{liste.state.headcount}} <i class="fa fa-user"></i>
		</div>
		</h2>
	</div>
	<div>
		<br />
		<h1>Son değişiklik: {{lastChangeDate | timeago}}</h1>
	</div>
</div>
<div class="blur"></div>
</body>
</html>
