<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Meta Tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>Garaj Açık Mı?</title>

	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<!-- Font -->
	<link href='http://fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/font-awesome.min.css">

</head>
<body ng-controller="garajCtrl" ng-app="GarajApp" ng-cloak>

	<div class="we-are-family">

		<img src="img/logo-white.png" height="73" width="150">

		<h1><i class="fa fa-bolt"></i> Garaj Açık Mı? <i class="fa fa-bolt"></i></h1>

		<div ng-if="garaj.state.open">
			<h2 class="yes">
			<i class="fa fa-check"></i> Açık!
			<div ng-if="garaj.state.headcount > 0">
				Bağlı cihaz sayısı: {{garaj.state.headcount}} <i class="fa fa-user"></i>
			</div>
			</h2>
		</div>

		<div ng-if="!garaj.state.open && garaj">
			<h2 class="no">
			<i class="fa fa-times"></i> Kapalı :(
			<div ng-if="garaj.state.headcount > 0">
				Bağlı cihaz sayısı: {{garaj.state.headcount}} <i class="fa fa-user"></i>
			</div>
			</h2>
		</div>

		<div ng-if="garaj && lastChangeDate">
			<br />
			<h1>Son değişiklik: {{lastChangeDate | timeago}}</h1>
		</div>

	</div>

	<div class="blur"></div>

	<script src="js/angular.min.js"></script>
	<script src="js/ngtimeago.js"></script>
	<script src="app.js"></script>
</body>
</html>
